@import 'tailwindcss';

@layer utilities {
  .font-alt {
    font-family: var(--font-alt) !important;
  }
}
/* В Tailwind CSS для этого есть специальная встроенная утилита sr-only. */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} */

/* Светлая тема  контраст для WCAG AA*/
:root {
  --color-bg: #f7f7f7;
  --color-surface: #ffffff;

  --color-text: #212121;
  --color-placeholder: #707070;

  --color-border: #e0e0e0;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  --color-accent: #5a51d6;
  --color-hover: rgba(90, 81, 214, 0.1);
  --color-accent-hover: #4e46c7;

  --color-success: #1f8a37;
  --color-error: #c42d3c;
  --color-utility: #a84c00;
  --color-utility-hover: #c85a00;

  /* Основные цвета */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #cccccc;

  --font-main: 'Kanit', sans-serif;
  --font-alt: 'Inter', sans-serif;
  --transition: 0.25s ease;
}

/* Тёмная тема -  WCAG AA */
.dark_theme {
  --color-bg: #121212;
  --color-surface: #1e1e1e;

  --color-text: #f5f5f5;
  --color-placeholder: #a3a3a3;

  --color-border: #3a3a3a;
  --shadow: 0 4px 15px rgba(0, 0, 0, 0.4);

  --color-accent: #675ee3;
  --color-hover: rgba(160, 153, 255, 0.15);
  --color-accent-hover: #756ced;

  --color-success: #55c472;
  --color-error: #ff7b7b;
  --color-utility: #ad5900;
  --color-utility-hover: #b96300;
}

/* A Modern CSS Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  /* margin: 0; */
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
/* button, */
textarea,
select {
  /* font: inherit; */
}
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

html {
  font-family: var(--font-main);
  line-height: normal;
}
body {
  /* font-family: var(--font-main); */
  color: var(--color-text);
  margin: 0;
  background-color: var(--color-bg);
  transition:
    background-color var(--transition),
    color var(--transition);
  min-width: 320px;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 3px solid orange;
  outline-offset: 2px;
}
